body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: green;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

div {
    padding: 20px;
}

div.gallery {
    border: 1px red solid;
    display: flex;
    flex-wrap: wrap;
}

div.gallery-item {
    /* make them grow/shrink at the same pace */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 280px;
    border: 1px blue solid;
}

div.gallery-item img {
    width: 100%;
}

#welcome { /*welcome is an id */
    width: 100%;
    display: flex;
}

div.welcome-image {
    width: 50%;
}

div.welcome-image img {
    display: block;
    width: 100%;
    object-fit: cover;
}

div.welcome-text {
    width: 50%;
}

@media (max-width: 600px) {
    #welcome {
        flex-wrap: wrap;
    }

    .welcome-image, .welcome-text {
        width: 100%;
    }
}

footer {
    background-color: green;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}
